* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between; /*se separa el logo del menu logo izquierda y menu derecha*/
    padding: 1rem; /*separa los elementos del borde, margen*/
    background-color: #ececec; /*diferenciar el header del resto de la*/
}

.nav-list {
    list-style-type: none;
    display: flex;
    gap: 1rem;
}

.nav-list li a {
    text-decoration: none;
    color: black;
}
  
.contenedor {
    display: flex;
    flex-wrap: wrap; /*se aplica al contenedor para asegurarse de que las películas se envuelvan en múltiples líneas si el espacio horizontal disponible no es suficiente para mostrar todas las películas en una sola fila. */
    justify-content: center;
}
  
.cuadro {
    width: 250px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /*se agrega un efecto sombra en los bordes del cuadro*/
    overflow: hidden; /*esta propiedad sirve para asegurarse de que cualquier contenido que sobresalga del contenedor no se muestre fuera de los límites del contenedor y se recorte de manera limpia y ordenada*/
    margin-bottom: 70px;
}
  
.cuadro img {
    width: 100%;
    border-radius: 10px 10px 0 0;
}
  
.descripcion {
    padding: 10px;
}
  
.descripcion h2 {
    margin: 0;
    font-size: 18px;
    text-align: center;
}
  
.descripcion p {
    margin-top: 5px;
    font-size: 14px;
    text-align: center;
    font-weight: normal;
}

h2 {
    padding: 2rem;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

.contenedor2{
    display: flex;
}

.descripcion2 {
    margin-left: 20%;
    margin-right: 20%;
}

.descripcion2 h2 {
    margin-bottom: 20px;
    margin-top: 20px;
}

.descripcion2 p {
    margin-bottom: 4rem;
}

.descripcion2 img {
    align-items: center;
    width: 700px;
    border-radius: 20px 20px 20px 20px;
    margin-bottom: 6rem;
}

#p2 {
    text-align:right;
}

.contenedor2 {
    display: flex;
    flex-wrap: wrap; /*se aplica al contenedor para asegurarse de que las películas se envuelvan en múltiples líneas si el espacio horizontal disponible no es suficiente para mostrar todas las películas en una sola fila. */
    justify-content: center;
}

.cuadro2 img {
    width: 100%;
    border-radius: 10px 10px 10px 10px;
}